* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1vw;
   
}
.boxcenter {
  width: 60%;
  margin: 0 auto;
}

.row {
  float: left;
  width: 100%;
}
.mb15 {
  margin-bottom: 3px;
}
.mb10 {
    margin-bottom: 11px;
    text-align: left;
}
.mb {
  margin-bottom: 30px;
}

.mr {
  margin-right: 2%;
}

.demo {
  background-color: antiquewhite;
  min-height: 100px;
}

.header h1 {
  margin: 20px;
  font-size: 1.4vw;
}

.menu {
  background-color: black;
  border: none;
  color: #ccc;
  border-radius: 5px;
}

.boxphai {
  float: left;
  width: 24%;
}

.boxtrai {
  float: left;
  width: 74%;
}

.footer {
  background-color: #e5e4e2;
  text-align: center;
  border: 1px #ccc solid;
  font-size: 1vw;
  color: blue;
  border-radius: 5px;
  padding: 20px;
}

.boxtitle {
  color: #333;
  padding: 10px;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px #ccc solid;
}

.boxcontent {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 200px;
  padding: 20px;
}

.boxcontent2 {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  min-height: 200px;
  background-color: #eee;
}

.boxfooter {
  padding: 10px;
  background-color: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

.banner {
  min-height: 300px;
  width: 100%;
  text-align: center;
}

.banner img {
  height: 300px;
}
/* ======== menu ============== */
.menu ul {
  padding: 0 15px;
}

.menu ul li {
  list-style-type: none;
  display: inline;
  padding: 0 15px;
}

.menu ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
}

.menu ul li a:hover {
  color: #ffff00;

}

/* ========== content ================= */

/* box tài khoản */
.formtk {
  line-height: 150%;
}

.formtk input[type="text"],
.formtk input[type="email"],
.formtk input[type="password"],
.formcontent input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.formtk input[type="checkbox"] {
  border: 1px solid #ccc;
}

.formtk input[type="submit"],
.formcontent input[type="submit"],
.formtk input[type="reset"],
.formcontent input[type="reset"],
.formcontent input[type="button"] {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.formtk input[type="submit"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover {
  background-color: #ccc;
}

.formtk li a {
  color: teal;
  text-decoration: none;
}

.formtk li a:hover {
  color: #093;
  text-decoration: underline;
}

/* ========= admin ======== */
.headerAD {
  border: 1px #ccc solid;
  color: #000;
  border-radius: 5px;
  background-color: darkslategray;
  padding: 0px 20px;
  
}

.headerAD h1 {
  margin: 6px;
  font-size: 3.5rem;
  color: white;
  margin-right: 640px;
}

.formtitle {
    border: 1px black solid;
    color: white;
    border-radius: 5px;
    background-color: darkslategray;
    padding: 0px 20px;
}

.formtitle h1{
  text-align: center;
}

.formcontent {
  padding: 8px 0;
}

/* =========== form danh sách loại ========= */

.formdsloai table {
  width: 100%;
  border-collapse: collapse;
}

.formdsloai table th {
    padding: 20px 0;
    background-color: darkslategrey;
    font-size: 13px;
    color: white;
    border: 1px black solid;
    text-align: center;
   
}

.formdsloai table td {
  padding: 8px 18px;
  border: 1px solid darkslategrey;
}

.formdsloai1 table {
  width: 100%;
  border-collapse: collapse;
}

.formdsloai1 table th {
  padding: 20px ;
  background-color: darkslategrey;
  color: aliceblue;
}

.formdsloai1 table td {
  padding: 10px 20px;
  border: 1px solid darkslategrey;
}

.formdsloai1 table td a {
  width: 100%;
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.formdsloai1 table td a:hover {
  background-color: #ccc;
}

